body {
  background: #E6E7E8;
}

a {
  transition: 0.3s;
}






/*------------------------------------*
HEADER
*------------------------------------*/
.header {
  background: #fff;
}

.header-topbar {
  background: #000;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  overflow: hidden;

  li {
    list-style: none;
    float: left;
    width: 16%;
    text-align: center;
    padding: 0 5px;
    border-right: 1px solid #fff
  }

  li:last-child {
    border-right: 0;
  }

  a {
    color: #fff;
    font-size: 22px;
  }
}

.header-logo {
  float: left;
  font-size: 18px;
  margin-left: 20px;
  font-weight: 600;

  a {
    display: block;
    max-width: 380px;
  }
}

.header-middle {
  margin: 10px 0;
}

.header-mobile{
  display: none;
  position: relative;
  margin-top: 15px;  
  padding-bottom: 20px;
}

.header-logoside {
  float: right;
  margin-right: 20px;
}

.header-subscribe {
  font-family: 'proxima_nova';
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #000;

  img {
    display: block;
  }
}

.header-social {
  vertical-align: bottom;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-left: 25px;
  }

  a {
    color: #000;

    &:hover {
      opacity: 0.5;
    }
  }
}

.header-menubar {
  border-bottom: 2px solid #00ADEE;
}

.header-menu {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 70%;

  li {
    float: left;
    width: 20%;
  }

  a {
    display: block;
    background: #BBBDBF;
    color: #000000;
    text-align: center;
    padding: 12px 5px;
    border-radius: 8px 8px 0 0;
    min-height: 40px;
    margin-right: 10px;

    &:hover, li.active & {
      background: #00ADEE;
    }
  }
}

.header-menuside {
  float: right;
}

.header-search {
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-right: 20px;
  line-height: 35px;
  max-height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;

  #s {
    border: 0;
  }

  #searchsubmit {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border: 0;
    text-indent: -9999px;
    background: url(../img/icon-search.png) no-repeat;
    background-size: 100% 100%;
  }
}

.header-mmenu-toggle {
  float: left;
  display: none;
  width: 40px;
  height: 40px;
  background: #000;
}

.icon-menu {
  display: block;
  width: 30px;
  height: 15px;
  margin: auto;
  margin-top: 13px;
  background: url(../img/icon-menu.png) no-repeat;
}


/*------------------------------------*
FOOTER
*------------------------------------*/
.gototop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/gototop.png) no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
}

.footer {
  padding: 20px 0;
  background: #808080;
  color: #fff;

  .widget-title {
    font-size: 20px;
  }
}




/*------------------------------------*
CONTENT
*------------------------------------*/
.content {
  padding: 20px 0;
  background: #E6E7E8;
}