/* Colors */
$colors: (
  blue: #00ADEE,
  violet: #920080,
  darkblue: #1B348D,
  purple: #684899,
  pink: #FF4FC1,
  lemon: #CCD42A,
);

/* Bebas Font */

@font-face {
    font-family: 'kalatexa';
    src: url('../fonts/kalatexatext_bold.woff2') format('woff2'),
         url('../fonts/kalatexatext_bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'kalatexa';
    src: url('../fonts/kalatexadisplay_regular.woff2') format('woff2'),
         url('../fonts/kalatexadisplay_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kalatexa';
    src: url('../fonts/kalatexadisplay_extrabold.woff2') format('woff2'),
         url('../fonts/kalatexadisplay_extrabold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/mark_simonson_-_proxima_nova_alt_black.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_alt_black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Special Font */

.sfont {
    font-family: 'kalatexa', sans-serif;
}

.sfont-bold {
    font-family: 'kalatexa', sans-serif;
    font-weight: 600;
}

.sfont-xbold {
    font-family: 'kalatexa', sans-serif;
    font-weight: 700;
}

@mixin sfont {
    font-family: 'kalatexa', sans-serif;
}

@mixin sfont-bold {
    font-family: 'kalatexa', sans-serif;
    font-weight: 600;
}

@mixin sfont-xbold {
    font-family: 'kalatexa', sans-serif;
    font-weight: 700;
}


/* Font Icons */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-facebook:before { content: "\f100"; }
.flaticon-instagram:before { content: "\f101"; }
.flaticon-twitter:before { content: "\f102"; }
.flaticon-youtube:before { content: "\f103"; }
